<div class="container mt-4" [dir]="translate.direction" [lang]="translate.currentLang">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExampleFive">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne26" aria-expanded="true" aria-controls="collapseOne26">
                            عن المنحة
                        </button>
                    </h2>
                    <div id="collapseOne26" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExampleFive">
                        <div class="accordion-body">
                            تقدم الجمعية اللبنانية لدعم البحث العلمي منح جامعية للطلاب اللبنانين والفلسطينين والسوريين المقيمين في لبنان ، ايمانا منها باهمية التعليم العالي في بناء الافراد ومساهمتهم في بناء الوطن.

                            تقدم المنحة فرص تعليم جامعي لجميع المراحل الدراسية (البكالوريوس في الجامعات الشريكة حصرياً) للطلاب المتعسرين مادياً وقروض حسنة لمرحلة الماجستير والدكتوراه.
                            المنحة سنوية تتجدد في بدء كل فصل حسب علامات الطالب وحضوره، و طبعا حسب توفر الدعم المادي.
                            
                            تقدم هذه المنح في عدة جامعات شريكة.
                            
                            تغطي المنحة جزء من الاقساط الدراسية بنسبة تصل الى 50 % للطلاب والطالب يتكفل بالباقي. (للمزيد من التفاصيل ، يرجى الإطلاع على صفحة سؤال وجواب)
                            
                            المنحة تشمل فقط منطقة شمال لبنان وبيروت وصيداحيث تتواجد فيها الجامعات الشريكة وفي مختلف الاختصاصات.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>