<!-- This is a card that displays the scholarship information -->
<div class="container" [dir]="translate.direction" [lang]="translate.currentLang">

    <!-- This row holds the filters section -->
    <div class="row mt-4 filtration">

        <!-- This column holds the first filter -->
        <div class="col-md-4 filter">
            <select id="type-filter" [(ngModel)]="selectedUniversity">
                <option value="">{{"theUiversityYouWantToAttend"|translate}}</option>

                <!-- This loop generates the options based on the data from the component -->
                <option *ngFor="let option of options" [value]="option.university">{{ option.university }}</option>
            </select>
        </div>

        <!-- This column holds the second filter -->
        <div class="col-md-4 filter">
            <select id="category-filter" [(ngModel)]="selectedDegreeType">
                <option value="">{{"requiredDegree"|translate}}</option>

                <!-- This loop generates the options based on the data from the component -->
                <option *ngFor="let option of options" [value]="option.degreeType">{{ option.degreeType }}</option>
            </select>
        </div>

        <!-- This column holds the third filter -->
        <div class="col-md-4 filter">
            <select id="price-range-filter" [(ngModel)]="selectedNationality">
                <option value="">{{"studentNationality"|translate}}</option>

                <!-- This loop generates the options based on the data from the component -->
                <option *ngFor="let option of options" [value]="option.nationality">{{ option.nationality }}</option>

            </select>
        </div>
    </div>

    <!-- This row holds the scholarship items -->
    <div class="row">

        <!-- This loop generates the scholarship items based on the filtered data from the component -->
        <div class="programsCard col-md-4 " *ngFor="let option of filterItems() " [id]="option.id">


            <!-- This is a card that displays the scholarship information -->
            <div class="card mt-4" style="height: 270px;">
                <div class="card-body programs">
                    <h5 class="card-title">{{option.name}}</h5>
                    <p class="card-text">
                        {{"nationalities"|translate}}: <b>{{option.nationality}}</b><br>
                        {{"degreeType"|translate}}: <b>{{option.degreeType}}</b><br>
                        {{"universities"|translate}}: <b>{{option.university}}</b><br>
                        {{"grant"|translate}}: <b>asas</b><br>
                        {{"description"|translate}}:<b>asas</b>
                    </p>
                    <!-- This button opens the scholarship application modal -->
                    <button type="button" class="btn btn-primary" (click)="openModal()">{{"apply"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This is the scholarship application modal -->
<div class="modal fade" id="ScholarApplicationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" [dir]="translate.direction" [lang]="translate.currentLang">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{"applicationDetails"|translate}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" [formGroup]="scholarshipApplication">
                <div class="row">
                    <div class="form-group mt-2 col-md-12">
                        <label>{{"university"|translate}}</label>
                        <input type="text" class="form-control" placeholder="" formControlName="university">
                        <span class="text-danger" *ngIf="(university?.touched) && university?.errors?.['required']">
                            {{"required"|translate}}
                        </span>
                    </div>
                    <div class="form-group mt-2 col-md-12">
                        <label>{{"degreeType"|translate}}</label>
                        <select class="form-select" aria-label="degreeType" formControlName="degreeType">
                            <option selected>{{"degreeType"|translate}}</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span class="text-danger" *ngIf="(degreeType?.touched) && degreeType?.errors?.['required']">
                            {{"required"|translate}}
                        </span>
                    </div>
                    <div class="form-group mt-2 col-md-12">
                        <label>{{"majore"|translate}}</label>
                        <input type="text" class="form-control" placeholder="" formControlName="majore">
                        <span class="text-danger" *ngIf="(majore?.touched) && majore?.errors?.['required']">
                            {{"required"|translate}}
                        </span>
                    </div>
                    <div class="form-group mt-2 col-md-12">
                        <label>{{"notes"|translate}}</label>
                        <input type="text" class="form-control" placeholder="" formControlName="notes">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn " data-bs-dismiss="modal">{{"close"|translate}}</button>
                <button type="button" class="btn " [disabled]="isDisabled()">{{"ok"|translate}}</button>
            </div>
        </div>
    </div>
</div>