<div class="container" [dir]="translate.direction" [lang]="translate.currentLang">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>{{"login" | translate}}</h3>
        </div>
        <div class="card-body">
          <form class="form" #loginform="ngForm" (submit)="prodceedLogin(loginform)">
            <div class="form-group mt-2">
              <label>{{"email" | translate}}</label>
              <input type="text" class="form-control" placeholder="Email" required name="username"
                placeholder="{{'email' | translate}}" ngModel>
            </div>
            <div class="form-group mt-2">
              <label>{{"password" | translate}}</label>
              <input type="text" class="form-control" placeholder="Password" required type="password" name="password"
                placeholder="{{'password' | translate}}" ngModel>
            </div>
            <div>
              <div class="form-group mt-4">
                <button type="submit" class="btn ">{{"login" | translate}}</button>
                <button (click)="redirectRegister()" class="btn "
                  style="position: absolute; left: 100px;">{{"signup" | translate}}</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>