<div class="container mt-4" [dir]="translate.direction" [lang]="translate.currentLang">
    <div class="row">
        <div class="col-md-12" *ngFor="let question of questions ; let i = index">
            <div class="accordion" id={{question.title}}>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{question.title[0].titleName}}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" *ngFor="let title of question.title.slice(1)">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne1" aria-expanded="true"
                                        aria-controls="collapseOne1">
                                        {{ title.subTitle }} </button>
                                </h2>
                                <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne"
                                    data-bs-parent="">
                                    <div class="accordion-body">
                                        {{ title.value }}
                                        <div *ngIf="title.value?.length && isTitleValueArray">
                                            <!-- <ul>
                                                <li *ngFor="let subValue of title.value">
                                                    {{ subValue.subValue }}
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>

                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let question of questions ; let i = index">
    {{question.title[0].titleName}}

</div>