/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
:root {
    --Primary-Color: #ffffff ;
    --Secondary-Color:#54595F;
    --Thirdly-Color: #f7931d;
    --body-background:#f4f4f4;
    --arabic:right;
    --english:left;
  }
  body{
    background-color: var(--body-background);
  }
  