<div class="container"  [dir]="translation.direction">
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>{{"SIGNUP" | translate}}</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="registration" (ngSubmit)="SaveUser()">
                        <div class="form-group mt-2">
                            <label>{{"PHONENUMBER" | translate}}</label>
                            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="{{'PHONENUMBER' | translate}}">
                            <span class="text-danger"
                                *ngIf="((registration.get('phoneNumber')?.touched) && (registration.get('phoneNumber')?.errors?.['required'] ) )">
                                {{"PhoneNumberRec" | translate}}
                            </span>
                            <span class="text-danger"
                                *ngIf="((registration.get('phoneNumber')?.touched) && (registration.get('phoneNumber')?.errors?.['pattern'] ) )">
                                {{"FormatError" | translate}}
                            </span>
                        </div>
                        <div class="form-group mt-2">
                            <label>{{"EMAIL" | translate}}</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="{{ 'EMAIL' | translate }}">
                            <span class="text-danger"
                                *ngIf="(registration.get('email')?.touched) && registration.get('email')?.errors?.['required']">
                                {{"EmailRec" | translate}}
                            </span>
                            <span class="text-danger"
                                *ngIf="(registration.get('email')?.touched) && registration.get('email')?.errors?.['email']">
                                {{"ValideEmail" | translate}}

                            </span>
                        </div>
                        <div class="form-group mt-2">
                            <label>{{"PASSWORD" | translate}}</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="{{ 'PASSWORD' | translate }}">
                            <span class="text-danger"
                                *ngIf="(registration.get('password')?.touched) && registration.get('password')?.errors?.['required']">
                                {{"PasswordRec" | translate}}

                            </span>
                            <span class="text-danger"
                                *ngIf="registration.get('password')?.touched && registration.get('password')?.errors?.['pattern']">
                                {{"PasswordFormatError" | translate}}

                            </span>
                        </div>
                        <div>
                            <div class="form-group mt-4 ">
                                <button type="submit" class="btn btn-success" [disabled]="isDisabled()"> {{"SIGNUP" | translate}}
                                </button>
                                <button type="submit" class="btn btn-danger ml-4" (click)="RedirectLogin()"
                                    style="position: absolute; left: 120px;"> {{"Close" | translate}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <button (click)="translation.changeCurrentLang('en')" class="btn bg-warning mx-2 mt-2">EN</button>
                <button (click)="translation.changeCurrentLang('ar')" class="btn bg-warning mt-2">Ar</button>
              </div>
        </div>
    </div>
</div>